<div class="card shadow-sm">
    <div class="card-header"><span class="font-weight-bold">Add New Product</span> <button
            class="float-right btn btn-secondary btn-sm" (click)="directToProdList()">Back to Product List</button>
    </div>
    <div class="card-body">
        <form [formGroup]="newProduct" (ngSubmit)="onSubmit(newProduct.value)" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="prodName">Product Name <small class="text-danger font-weight-bold">*</small></label>
                    <input type="text" class="form-control" id="prodName" placeholder="Product Name" formControlName="prodName">
                </div>
                <div class="form-group col-md-3">
                    <label for="prodCategory">Product Category <small
                            class="text-danger font-weight-bold">*</small></label>
                    <select name="prodCategory" id="prodCategory" class="form-control" formControlName="prodCategory1" (change)="onChangeValue($event)">
                        <option value="">-- Select Category --</option>
                        <option *ngFor="let category of categoryList" value="{{category.name}}">{{category.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <app-drop-down *ngIf="configData !== undefined && configData[1].componentName === 'dropDown2'" (childClicked)="parentEventHandler($event)" [dataSource]="configData[1].data" [dataLabel]="configData[1].componentName" [dataValue]="dropDownVal"></app-drop-down>
                </div>
                <div class="form-group col-md-3">
                    <app-drop-down *ngIf="configData !== undefined && configData[0].componentName === 'dropDown1'" (childClicked)="parentEventHandler($event)" [dataSource]="configData[0].data" [dataLabel]="configData[0].componentName" [dataValue]="dropDownVal"></app-drop-down>
                </div>
            </div>
            <div class="form-group">
                <label for="prodDescTxt">Product Description <small
                        class="text-danger font-weight-bold">*</small></label>
                <textarea name="prodDescTxt" id="prodDescTxt" cols="30" rows="3" class="form-control"
                    placeholder="Mention product description here..." formControlName="prodDescTxt"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress2" class="mr-3">Product Sold Type</label>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="prodSoldType1" name="prodSoldType" class="custom-control-input" value="Online" formControlName="prodSoldType" checked>
                        <label class="custom-control-label" for="prodSoldType1">Online</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="prodSoldType2" name="prodSoldType" class="custom-control-input" formControlName="prodSoldType" value="Offline">
                        <label class="custom-control-label" for="prodSoldType2">Offline</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="prodAmount">Product Amount</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="text" class="form-control" id="prodAmount" placeholder="Amount" formControlName="prodAmount" (input)="checkTxtValue($event)"/>
                    </div>
                    <div *ngIf="f.prodAmount.touched && f.prodAmount.invalid || f.prodAmount.dirty" class="badge badge-danger">
                        <!--<div *ngIf="f.prodAmount.errors.required">Number is required.</div>-->
                        <div *ngIf="f.prodAmount.errors?.pattern">Enter only number.</div>
                    </div>
                    <div><small class="badge badge-secondary position-absolute offset-1">{{ newProduct.get('prodAmount').value | numToWord}}</small></div>
                </div>
            </div>
            <div class="form-group col-12 p-0">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="verifyProd" formControlName="verifyProd">
                    <label class="custom-control-label text-muted" for="verifyProd">Mention product details
                        are correct</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary shadow">Add New Product</button>
        </form>
    </div>
</div>